# LangChain + Ollama
langchain==0.1.*
langchain-community
ollama==0.5.3

# FAISS for vector search
faiss-cpu==1.10.0 

# Streamlit for interface
streamlit==1.43.2

# Document loaders
pypdf==6.0.0

# Images
pillow==11.3.0
httpx

# Env management
python-dotenv==1.1.0